.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 15px;
}
.navbarItem {
  text-align: center;
  line-height: 40px;
  width: 100px;
  color: var(--accent);
}
.navbarItem:hover {
  color: var(--off-white);
}
.currentPage {
  background-color: var(--background);
  border-radius: 7px 7px 0px 0px;
}
.navbarHeadContainer {
  height: 70px;
  width: 70px;

  display: flex;
  justify-self: center;

  cursor: pointer;
}
.navbarHead {
  position: relative;
  width: auto;
  right: 1px;
}
@media screen and (max-width: 500px) {
  .navbarHeadContainer {
    height: 0px;
    width: 0px;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    grid-template-columns: auto;
    height: 180px;
  }
  .currentPage {
    border-radius: 7px 7px 7px 7px;
  }
  /* .navbar-item {
      width: 100vw;
    } */
}
